.container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
}

.selector{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-xl);
    color: var(--text-color);
    transition: 1s;
    z-index: 1;
    font-family: var(--title-font);
}

.selector:hover{
    transform: scale(1.1);
    z-index: 2;
}

.solo{
    background-color: var(--primary);
}

.coop{
    background-color: var(--secondary);
}