.container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.selector{
    height: 100vh;
    width: 50vw;
}

.solo{
    background-color: var(--primary);
}

.coop{
    background-color: var(--secondary);
}