body{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    font-size: 7.5vw;
}
.player_contain{

}