:root { 
    /* Colors */
    --bg-color: #3498db;
    --text-color: #ffffff;
    --primary: #3CFF3C;
    --secondary: #A62ED5;

    /* Size */
    --size-xs: #ffffff;
    --size-sm: #ffffff;
    --size-md: #ffffff;
    --size-xl: #ffffff;
    
}