:root { 
    /* Colors */
    --bg-color: #AF9E82;
    --text-color: #ffffff;
    --primary-color: #3CFF3C;   
    --secondary-color: #A62ED5;

    /* Size */
    --size-xs: 4px;
    --size-sm: 8px;
    --size-md: 16px;
    --size-xl: 32px;
}